
:root{
    --bravo: #fadc1a;
    --alpha: orange;
    --charlie: rgb(69, 239, 69);
    --extra: rgb(237, 76, 48);
}
.container{
    height: auto;
    margin-top: 70px;
}
section{
    color: white;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
}
body {
    background-image: url("img/Image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.plans{
    display: grid;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 190px);
    padding: 30px;
    font-weight: lighter;
    font-size: small;
}
.package{
    border: 1px solid white;
    padding-bottom: 20px;
}
.package p {
    padding-top: 10px;
}
hr{
    border: 0.01px solid rgb(167, 166, 166);
    width: 90%;
}
button{
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 10px;
}
.circle{
    height: 70px;
    width: 70px;
    background: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
}
.package:hover{
    background: white;
    color: rgb(116, 117, 117);
}
.package.bravo:hover button{
    color: white;
    background: var(--bravo);
    cursor: pointer;
}
.package.alpha:hover button{
    color: white;
    background: var(--alpha);
    cursor: pointer;
}
.package.charlie:hover button{
    color: white;
    background: var(--charlie);
    cursor: pointer;
}
.package.extra:hover button{
    color: white;
    background: var(--extra);
    cursor: pointer;
}
.bravo .circle {
    box-shadow: 0px 5px 10px 0px var(--bravo);
}
.bravo i {
    color: var(--bravo);
}
.bravo button{
    color: var(--bravo);
}
.alpha button{
    color: var(--alpha);
}
.alpha .circle {
    box-shadow: 0px 5px 10px 0px var(--alpha);    
}
.charlie button{
    color: var(--charlie);
}
.charlie .circle {
    box-shadow: 0px 5px 10px 0px var(--charlie);    
}
.extra button{
    color: var(--extra);
}
.extra .circle {
    box-shadow: 0px 5px 10px 0px var(--extra);    
}
